/* Layout styles */
.main{
  display: flex;
  width: 100%;
}
.admin-panel {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .product-panel {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-x: scroll; 
   
    height:700px;    
  }
  
  .product-form, .product-list, .edit-product-form {
    margin-bottom: 20px;
  }
  
  .product-list ul {
    list-style: none;
    padding: 0;
  }
  
  .product-list li {
    margin-bottom: 10px;
  }
  
  /* Form styles */
  .product-form, .edit-product-form {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .product-form h2, .edit-product-form h2 {
    margin-top: 0;
  }
  
  .product-form input[type="text"], .edit-product-form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .product-form button, .edit-product-form button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .product-form button:hover, .edit-product-form button:hover {
    background-color: #45a049;
  }
  
  /* Product list styles */
.product-list {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .product-list h2 {
    margin-top: 0;
  }
  
  .product-list ul {
    list-style: none;
    padding: 0;
  }
  
  .product-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
  }
  
  .product-list span {
    margin-bottom: 5px;
  }
  
  .product-list button {
    background-color: #ff4d4f;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .product-list button:hover {
    background-color: #ff7875;
  }
  