.navbar {
    background-color: #c5afaf;
    padding: 10px;
    justify-content: space-between;
  }
  
  .navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    display: inline-block;
    margin-right: 15px;
  }
  
  .nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
  }
  
  .nav-link:hover {
    text-decoration: underline;
  }
  